*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.fundo{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.267);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}

#cadastroSucesso {
    background-color: beige;
    width: 40vw;
    height: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 30%;
    left: 30%;
    border-radius: 8px;
}

.botao {
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
}

.cadastroFeito {
    font-size: 1.5rem;
    text-align: justify;
    padding: 1rem;
}